.book.two-columns .api-method .api-method-definition {
	float:left;
	width:65%
}
.book.two-columns .api-method .api-method-code {
	position:relative;
	float:left;
	width:35%;
	padding:30px 30px 15px;
	border-left:1px solid #F1EFEF;
	border-top:none;
	border-bottom:none;
	transition:opacity .3s ease
}
.book-header {
	font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}
.book-summary {
  	font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}
.book.font-family-1 {
	font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}
.markdown-section table th {
	font-weight:400;
}
.markdown-section table td,.markdown-section table th {
	border:0px solid #ddd;
}
.markdown-section table tr {
	border-top:0px solid #ccc;
}
